[flake8]
max-line-length = 120
max-complexity = 10
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    env,
    .env,
    .idea,
    .vscode,
    site-packages,
    documents,
    docs,
    paper,
    examples,
    scripts
ignore = E203, W503, E226
per-file-ignores =
    __init__.py:F401
    src/synaptipy/application/gui/analysis_tabs/metadata_driven.py:C901
    src/synaptipy/application/gui/batch_dialog.py:C901
    src/synaptipy/application/gui/ui_generator.py:C901
    src/synaptipy/core/data_model.py:C901
    src/synaptipy/shared/utils.py:C901
    src/synaptipy/application/gui/explorer/sidebar.py:C901
    src/synaptipy/core/analysis/firing_dynamics.py:C901
    src/synaptipy/core/analysis/passive_properties.py:C901
    src/synaptipy/infrastructure/file_readers/neo_adapter.py:C901
