# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Synaptipy specific
*.nwb
*.csv
*.log
tests/data/* # Usually ignore large data, but keep small test files? Decide policy.
!tests/data/.gitkeep # Example to keep the directory tracked if needed
notebooks/.ipynb_checkpoints

# Distribution / Installation
*.tar.gz
*.whl