# Synaptipy Verification Report

**Date:** 2025-11-24 18:22:24.214225

## Analysis Results

 spike_count  mean_freq_hz           file_name                         file_path channel        analysis      scope  trial_index  sampling_rate
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            1   20000.000000
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            2   20000.000000
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            3   20000.000000
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            4   20000.000000
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            5   20000.000000
           0        0.0000 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            6   20000.000000
           2        4.0004 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            7   20000.000000
           4        8.0008 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            8   20000.000000
           6       12.0012 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials            9   20000.000000
           7       14.0014 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           10   20000.000000
           8       16.0016 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           11   20000.000000
           9       18.0018 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           12   20000.000000
           9       18.0018 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           13   20000.000000
          10       20.0020 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           14   20000.000000
          11       22.0022 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           15   20000.000000
          11       22.0022 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           16   20000.000000
          11       22.0022 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           17   20000.000000
          12       24.0024 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           18   20000.000000
          12       24.0024 2023_04_11_0021.abf examples/data/2023_04_11_0021.abf       0 spike_detection all_trials           19   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       0 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       0 spike_detection all_trials            1   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       0 spike_detection all_trials            2   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       1 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       1 spike_detection all_trials            1   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       1 spike_detection all_trials            2   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       2 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       2 spike_detection all_trials            1   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       2 spike_detection all_trials            2   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       3 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       3 spike_detection all_trials            1   20000.000000
           0        0.0000 2023_04_11_0022.abf examples/data/2023_04_11_0022.abf       3 spike_detection all_trials            2   20000.000000
           0        0.0000 2023_04_11_0018.abf examples/data/2023_04_11_0018.abf       0 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0019.abf examples/data/2023_04_11_0019.abf       0 spike_detection all_trials            0   20000.000000
           0        0.0000 2023_04_11_0019.abf examples/data/2023_04_11_0019.abf       0 spike_detection all_trials            1   20000.000000
           0        0.0000 2023_04_11_0019.abf examples/data/2023_04_11_0019.abf       0 spike_detection all_trials            2   20000.000000
           0        0.0000 2023_04_11_0019.abf examples/data/2023_04_11_0019.abf       0 spike_detection all_trials            3   20000.000000
           0        0.0000 2023_04_11_0019.abf examples/data/2023_04_11_0019.abf       0 spike_detection all_trials            4   20000.000000
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            0   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            1   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            2   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            3   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            4   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            5   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            6   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            7   20080.320942
           0        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            8   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials            9   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           10   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           11   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           12   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           13   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           14   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           15   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           16   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           17   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           18   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           19   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           20   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           21   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           22   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           23   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           24   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           25   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           26   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           27   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           28   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           29   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           30   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           31   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           32   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           33   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           34   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           35   20080.320942
           0        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           36   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           37   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           38   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           39   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           40   20080.320942
           1        0.0000      240326_003.wcp      examples/data/240326_003.wcp       0 spike_detection all_trials           41   20080.320942

## Visualizations

![plot_2023_04_11_0021_0.png](plot_2023_04_11_0021_0.png)

