[Desktop Entry]
Version=1.0
X-AppVersion=0.1.4rc2
Type=Application
Name=Synaptipy
Comment=Electrophysiology Visualization Suite
Exec=Synaptipy
Icon=synaptipy
Terminal=false
Categories=Science;Education;DataVisualization;