[Desktop Entry]
Version=1.0
X-AppVersion=0.1.7
Type=Application
Name=Synaptipy
Comment=Electrophysiology Visualization Suite
Exec=synaptipy
Icon=synaptipy
Terminal=false
Categories=Science;Education;DataVisualization;